@use "./base";
@use "./components";
@use "./pages";
@use "./utils";
@use "./layout";

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary, #bbb) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-primary, #bbb);
  border-radius: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  pointer-events: none;
  flex-shrink: 0;
  color: inherit;
  fill: currentColor;
  stroke: currentColor;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

Link {
  outline: none;
}

picture {
  display: flex;
  padding-bottom: 12px;
}
