@use "../base/variables" as vars;

.app-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background-color: var(--color-surface-mid);
}

.app-layout-content {
  width: 100%;
  display: flex;
}

.page-wrapper {
  height: 100dvh;
  overflow-y: scroll;
  width: 100%;
  padding-top: calc(vars.$header-height + var(--spacing-xl));
  background-color: var(--color-surface-mid);
}

.page-wrapper-content {
  height: fit-content;
  gap: var(--spacing-xl);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-pg) var(--spacing-4xl) var(--spacing-2pg);

  @media (max-width: vars.$media-query-lg) {
    padding-left: var(--spacing-pg);
  }
}
