.app-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background-color: var(--color-surface-mid);
}

.app-layout-content {
  width: 100%;
  padding-right: var(--spacing-pg);
  display: flex;
}
