.chip {
  height: 1.875rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 var(--spacing-sm);
  font-size: var(--spacing-md);
  border-radius: 20px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: currentColor;
    opacity: 0.06;
    z-index: 0;
  }
}

.chip--inactive {
  color: var(--color-gray-900);
}

.chip--pending {
  color: var(--color-yellow);
}

.chip--blacklisted {
  color: var(--color-pink-red);
}

.chip--active {
  color: var(--color-green);
}
