@use "../../base/variables" as vars;

.side-nav-wrapper {
  width: vars.$side-nav-wrapper;
  padding-top: calc(vars.$header-height + var(--spacing-lg));
  padding-bottom: var(--spacing-xl);
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-right);
  background-color: var(--color-surface);
  overflow-y: scroll;

  @media (max-width: vars.$media-query-lg) {
    display: none;
  }
}

.side-nav-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.side-nav-content > h1 {
  text-transform: uppercase;
  font-size: var(--spacing-sm);
  font-weight: 500;
  padding: 0 var(--spacing-pg);
  margin-top: 2rem;
  margin-bottom: var(--spacing-xs);
  color: var(--color-gray-900);
}

.switch-org {
  margin-bottom: 2rem;
}

.side-nav {
  padding: 0px var(--spacing-pg);
  height: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-secondary);
  cursor: pointer;

  &:hover {
    transition: var(--transition-hover);
    background-color: var(--color-primary-light);
  }
}

.side-nav-link {
  opacity: 60%;
}

.side-nav.active {
  background-color: var(--color-primary-light);
  border-left: 4px solid var(--color-primary);
  opacity: 100%;
}

.side-nav > p {
  white-space: nowrap;
  text-transform: capitalize;
}

.side-nav-content-bottom {
  margin-top: var(--spacing-xl);
  padding-top: var(--spacing-xs);
  border-top: 1px solid var(--color-gray-100);
}
.side-nav-content-bottom > span {
  padding: 0px var(--spacing-pg);
  color: var(--color-secondary);
  font-size: 12px;
  margin-top: var(--spacing-lg);
}
